# Next.js
node_modules
.next
out
next-env.d.ts

# Generated / local files
dist
*.log
.env*

# keep example env files
!*.example
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo
