<div style="padding: 5%; text-align: center; margin-top: 100px;" id="dev">
  <h2 data-aos="flip-up" class="title">
    Experience
  </h2>
  <p color="secondary" data-aos="fade-in">These are the technologies I use on a daily bases. Click one to find out more
  </p>
  <mat-grid-list cols="{{cols}}" style="width: 100%;" [style.height.px]="(isMobile$ | async) ? 1340 : 900  "
    rowHeight="fit">
    <ng-container *ngFor="let devList of devLists; index as i;">
      
      <mat-grid-tile>
        <mat-card style="width: 70%; overflow: visible !important;" data-aos="fade-in">
          <mat-card-title style="font-size:1em">
            {{devList.type | titlecase}}
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <!--  (click)="openInfoSheet(tech)" -->
              <mat-list-item *ngFor="let tech of devList.list" (click)="expandRow()">
                <tech-icon [icon]="tech.icon"></tech-icon> <span class="tech-item">{{tech.technology}}</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>
