@import '../../../styles.scss';

.dev-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  .accordion {
    width: 66%;
  }
}


.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

.skill {
  background-color: #4559dd;
  color: white;
  height: 22px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  border-radius: 8px;
  margin-bottom: 2px;
}

.spacer {
  margin-top: 2vh;
}

.tech-item:hover {
  color: $main-color;
}

.expand-btn {
  margin-top: 30px;
  transition: all 280ms ease-out;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  padding: 3px;
  padding-left: 8px;
  font-size: 11px;
  span {
    margin-top: 2px;
  }
}

.expand-btn:hover {
  transform: scale(1.07);
  opacity: 0.9;
  cursor: pointer;
  background: -webkit-linear-gradient(red, $main-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  mat-icon {
    transition: all 0.3s ease-in;
    color: #95d68b;
  }
}
