.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.icon-style {
  margin-bottom: 3px;
  margin-right: 1vw;
  color: #253bca;
}

.name {
  font-weight: 100;
}

.discription {
  display: flex;
  justify-content: space-between;
  color: white;
}
