<mat-toolbar class="nav-container">
  <div></div>
  <ng-container *ngIf="!(isMobile$ | async); else mobileView">
    <div class="margin-left:auto">
      <button (click)="scrollTo('resume')" mat-button style="margin-left:10px;"><i class="fas fa-user icon-style"></i>Work</button>
      <button (click)="scrollTo('dev')" mat-button style="margin-left:10px;"><i class="fas fa-comment icon-style"></i>Experience</button>
    </div>
  </ng-container>
</mat-toolbar>

<ng-template #mobileView>
  <button [matMenuTriggerFor]="menu" mat-icon-button class="nav-mobile-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="scrollTo('resume')" mat-menu-item>
      <span>Work</span>
    </button>
    <button (click)="scrollTo('dev')" mat-menu-item>
      <span>Experience</span>
    </button>
  </mat-menu>
</ng-template>
