.footer-container {
  margin-top: 10vh;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #d0d0d0;
  font-weight: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  p {
    font-size: 11px;
  }
}
