@import '../../../styles.scss';

$fade-in-name: 2s;
$fade-in-description: 2s;

.container {
  padding-top: 1.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2vw;
}

.name-container {
  text-align: center;
  margin-top: 10vh;
}

.description {
  display: flex;
  justify-content: space-evenly;
  font-size: calc(0.5em + 1vmin);
  margin-top: 2.5vw;
}

.name {
  font-size: calc(4em + 1vmin);
  color: $main-color;
  font-weight: 100;
  margin-top: 2.5vw;
  font-weight: 900;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 10vh;

  div {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    a {
      font-size: 22px;
      text-decoration: none;
      color: $secondary-color !important;
    }
  }

  mat-icon {
    vertical-align: text-bottom;
    font-size: 18px;
    height: 18px;
    color: $main-color;
  }
}

.icon-container{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.more-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
  color: lightgrey;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}


