/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "custom-theme.scss";
* {
  font-family: "Roboto", sans-serif;
}
@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #211F40;
}

// $main-color: rgb(41, 46, 90);
$main-color: #253BCA;
$secondary-color: #dd4559;
$third-color: #59dd45;

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.component-spacing {
  margin-top: 10vw;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
