@import '../../../styles.scss';

.about-container {
  color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-content {
  text-align: center;
  line-height: 2em;
  font-weight: 100;
  width: 60%;
  font-size: calc(1em + 1vmin);
}

.blob2 {
  animation: slowrotate 5s infinite both;
}

.blob3 {
    animation: slowrotate 5s infinite alternate-reverse;
    transform: translate(100px);
  }

.blob1 {
    animation: slowrotate 5s infinite reverse;
    transform: translate(-20px);
}

@keyframes slowrotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
