<div style="width: 100%; text-align: center;" id="resume">
  <h2 style="justify-content: center;" class="title" data-aos="flip-up">
    Work
  </h2>
</div>


<!-- Cards -->
<div class="about-container">

  <!-- Desktop -->
  <ng-container *ngFor="let job of jobs; let i = index">
    <ng-container *ngIf="!(isMobile$ | async)">
      <div *ngIf="i === 0" data-aos="fade-in" style="text-align: center; margin-top: 10px;">
        <p style="margin-bottom: 5px">{{job.end}}</p>
        <div style="width: 100%; height: 30px; display: flex; margin-bottom: 10px;">
          <div style="width: 50%; height: 100%;"></div>
          <div style="width: 50%; height: 100%; border-left: 2px solid grey; opacity: .6;"></div>
        </div>
      </div>
      <mat-card class="job-card" data-aos="fade-in" (click)="toggleDescription(i)">
        <mat-card-title style="display: flex; justify-content: space-between;"><span
            class="job-title">{{job.title}}</span>
          <img src="../../assets/{{job.companyImg}}" class="company-img">
        </mat-card-title>
        <mat-card-subtitle style="display: flex; justify-content: space-between; margin-top: 4px;">
          <p>{{job.company}}</p>
        </mat-card-subtitle>
        <mat-card-content>
          <div *ngIf="expandList.includes(i)">
            <ul>
              <li *ngFor="let description of job.description"
                style="padding-bottom: 1.5vw; list-style-type:none; font-size: calc(0.5em + 1vmin);" class="subtext">
                {{description}}</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>

      <div data-aos="fade-in" style="text-align: center; margin-top: 10px;">
        <div style="width: 100%; height: 30px; display: flex;">
          <div style="width: 50%; height: 100%;"></div>
          <div style="width: 50%; height: 100%; border-left: 2px solid grey; opacity: .6;"></div>
        </div>
        <p style="margin-top: 5px;">{{job.start}}</p>
      </div>
    </ng-container>

    <!-- Mobile -->
    <ng-container *ngIf="(isMobile$ | async)">
      <div *ngIf="i === 0" data-aos="fade-in" style="text-align: center; margin-top: 10px;">
        <p style="margin-bottom: 5px">{{job.end}}</p>
        <div style="width: 100%; height: 30px; display: flex; margin-bottom: 10px;">
          <div style="width: 50%; height: 100%;"></div>
          <div style="width: 50%; height: 100%; border-left: 2px solid grey; opacity: .6;"></div>
        </div>
      </div>

      <mat-card class="job-card" data-aos="zoom-in" (click)="toggleDescription(i)">

        <mat-card-title>
          <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
            <img src="../../assets/{{job.companyImg}}" class="company-img">
          </div>
          <span class="title-mobile">{{job.title}}</span>
        </mat-card-title>

        <mat-card-content>
          <div *ngIf="expandList.includes(i)">
            <ul>
              <li *ngFor="let description of job.description"
                style="padding-bottom: 1.5vw; list-style-type:none; font-size: calc(0.5em + 1vmin);">
                {{description}}</li>
            </ul>
          </div>
        </mat-card-content>

      </mat-card>

      <div data-aos="fade-in" style="text-align: center; margin-top: 10px;">
        <div style="width: 100%; height: 30px; display: flex;">
          <div style="width: 50%; height: 100%;"></div>
          <div style="width: 50%; height: 100%; border-left: 2px solid grey; opacity: .6;"></div>
        </div>
        <p style="margin-top: 5px;">{{job.start}}</p>
      </div>
    </ng-container>
  </ng-container>
</div>
